.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 480px;
  @include smart {
    max-width: 480px;
  }
  @include tab {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
