%btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;

  border-radius: 10px;

  transition: color $animation-speed-hover $animation-cubic-bezier,
    background-color $animation-speed-hover $animation-cubic-bezier;
}
