$main-text-color: #fcfcfc;
$main-bg-color: #84a178;
$secondary-text-color: #131313;
$accent-color: #f8d24e;

$btn-bg-hover: #0a8817;
$btn-bg-disabled: #ababab;

$animation-speed-modal: 500ms;
$animation-speed-hover: 250ms;
$animation-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
