<section>
    <div class="container">
<span>
    Tradition and love 
</span>
<h2>
    How it’s made?
</h2>
<div>
  <img width="490" src="/src/images/mobile/mobile_about_1@2x.png" alt="the cow is grazing">
</div>
<ul>
    <li><p>Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </p></li>
    <li><p>We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p></li>
    <li><p>This is enough to choose ice cream and coffee for any mood!</p></li>
</ul>
<button>Read more</button>
</div>
</section>