<!-- advantages -->
<section>
 <div class="container"></div>
<h2 hidden>Advantages</h2>
<ul class="advantages_list">
<li class="advantages_items">
   <div class="advantages-background_svg">
   <svg class="advantages_svg">
        <use href="/src/images/icon.svg#icon-cow"></use>
    </svg>
</div>
<div class="span">
    <span class="advantages_numbers">721</span>
</div>
    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
</li>
<li class="advantages_items">
    <div class="advantages-background_svg">
    <svg class="advantages_svg">
        <use href="/src/images/icon.svg#icon-weight"></use>
    </svg>
</div>
<div class="span">
    <span class="advantages_numbers">16kg</span>
</div>
    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
</li>
<li class="advantages_items">
    <div class="advantages-background_svg">
    <svg class="advantages_svg">
        <use href="/src/images/icon.svg#icon-ice-crema"></use>
    </svg>
</div>
<div class="span">
    <span class="advantages_numbers">84</span>
</div>
    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
</div>
</section>