<section class="contacts">
    <div class="container">

        <ul class="button-location list">
            <li class="button-item">
                <button type="button" class="contacts-button contacts-buttonone btn">Our Locations
                    <svg width="12" height="12" class="btn-contacts-icons">
                        <use href="./images/icon.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="contacts-button contacts-buttontwo btn">Franchise
                    <svg width="12" height="12" class="btn-contacts-icons">
                        <use href="./images/icon.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>