<section class="contacts" id="contact">
  <div class="contacts__wrap container">
    <h2 class="visually-hidden">Контакты</h2>
    <ul class="contacts__list">
      <li class="bShadow bShadow-60h contacts__card">
        <span class="contacts__card-category">CAFE</span>

        <p class="contacts__card-pretitle">Chicago</p>
        <div class="contacts__map">
          <a
            href="https://goo.gl/maps/jLdZtLtoTsxjS6ev6"
            rel="noopener noreferrer nofollow"
            class="contacts__link"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <p class="contacts__workday">Monday - Friday</p>
        <p class="contacts__workhour">06:00 AM - 10:00 PM</p>
        <p class="contacts__workshortday">Saturday - Sunday</p>
        <p class="contacts__workshorthour">08:00 AM - 16:00 PM</p>
        <ul class="contakts__connection">
          <li class="contakts__connection-items">
            <a href="tel:+610383766284" class="contakts__connection-link">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="contakts__connection-items">
            <a
              href="mailto:noreply@envato.com"
              class="contakts__connection-link"
            >
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>

      <li class="bShadow bShadow-60h contacts__card">
        <span class="contacts__card-category">FOOD TRUCK</span>

        <p class="contacts__card-pretitle">Los Angeles</p>
        <div class="contacts__map">
          <a
            href="https://goo.gl/maps/12NYNSL6Lj5F69MBA"
            rel="noopener noreferrer nofollow"
            class="contacts__link"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
        <p class="contacts__workday">Monday - Friday</p>
        <p class="contacts__workhour">06:00 AM - 10:00 PM</p>
        <p class="contacts__workshortday">Saturday - Sunday</p>
        <p class="contacts__workshorthour">08:00 AM - 16:00 PM</p>
        <ul class="contakts__connection">
          <li class="contakts__connection-items">
            <a href="tel:+610383766284" class="contakts__connection-link">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="contakts__connection-items">
            <a
              href="mailto:noreply@envato.com"
              class="contakts__connection-link"
            >
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>

      <li class="bShadow bShadow-60h contacts__card">
        <p class="contacts__card-category">CAFE</p>

        <p class="contacts__card-pretitle">New York</p>
        <div class="contacts__map">
          <a
            href="https://goo.gl/maps/VzCAjebFKtUhM6cQ8"
            rel="noopener noreferrer nofollow"
            class="contacts__link"
          >
            726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
        <p class="contacts__workday">Monday - Friday</p>
        <p class="contacts__workhour">06:00 AM - 10:00 PM</p>
        <p class="contacts__workshortday">Saturday - Sunday</p>
        <p class="contacts__workshorthour">08:00 AM - 16:00 PM</p>
        <ul class="contakts__connection">
          <li class="contakts__connection-items">
            <a href="tel:+610383766284" class="contakts__connection-link">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="contakts__connection-items">
            <a
              href="mailto:noreply@envato.com"
              class="contakts__connection-link"
            >
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-button__list">
      <li class="contacts-button__item">
        <button
          type="button"
          class="contacts__button contacts__button--light js-open-modal"
          data-modal="6"
        >
          Our Locations
          <svg width="12" height="12" class="contacts-button__icon">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-button__item">
        <button
          type="button"
          class="contacts__button contacts__button--dark js-open-modal"
          data-modal="7"
        >
          Franchise
          <svg width="12" height="12" class="contacts-button__icon">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
