<section class="custom-reviews">
  <div class="container">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="custom-reviews__list">
      <div class="custom-reviews__item">
        <img
          srcset="
            ./images/mobile/mobile_customer_reviews_1@1x.jpg 1x,
            ./images/mobile/mobile_customer_reviews_1@2x.jpg 2x
          "
          src="./images/mobile/mobile_customer_reviews_1@1x.jpg"
          alt="photo Bryan"
          width="85"
          height="85"
          class="custom-reviews__img"
        />
        <p class="custom-reviews__description">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="custom-reviews__name">Bryan, New-York</p>
      </div>
      <div class="custom-reviews__item">
        <img
          srcset="
            ./images/mobile/mobile_customer_reviews_2@1x.jpg 1x,
            ./images/mobile/mobile_customer_reviews_2@2x.jpg 2x
          "
          src="./images/mobile/mobile_customer_reviews_2@1x.jpg"
          alt="photo Diana"
          width="85"
          height="85"
          class="custom-reviews__img"
        />
        <p class="custom-reviews__description">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="custom-reviews__name">Diana, Chicago</p>
      </div>
      <div class="custom-reviews__item">
        <img
          srcset="
            ./images/mobile/mobile_customer_reviews_3@1x.jpg 1x,
            ./images/mobile/mobile_customer_reviews_3@2x.jpg 2x
          "
          src="./images/mobile/mobile_customer_reviews_3@1x.jpg"
          alt="photo Emily"
          width="85"
          height="85"
          class="custom-reviews__img"
        />
        <p class="custom-reviews__description">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="custom-reviews__name">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
