<section class="gallery">
  <div class="container">
    <div class="gallery__list">
      <div class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/desktop/desktop_gallery_1_1x.jpg 1x,
              ./images/desktop/desktop_gallery_1_2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tab/tab_gallery_1_1x.jpg 1x,
              ./images/tab/tab_gallery_1_2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/mobile_gallery_1_1x.jpg 1x,
              ./images/mobile/mobile_gallery_1_2x.jpg 2x
            "
            media="(min-width:480px)"
          />
          <img
            srcset=""
            src="./images/desktop/desktop_gallery_1_1x.jpg"
            alt="ice cream cones"
          />
        </picture>
      </div>
      <div class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/desktop/desktop_gallery_2_1x.jpg 1x,
              ./images/desktop/desktop_gallery_2_2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tab/tab_gallery_1_1x.jpg 1x,
              ./images/tab/tab_gallery_1_2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/mobile_gallery_2_1x.jpg 1x,
              ./images/mobile/mobile_gallery_2_2x.jpg 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/desktop_gallery_2_1x.jpg"
            alt="ice cream cones 2"
          />
        </picture>
      </div>
      <div class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/desktop/desktop_gallery_3_1x.jpg 1x,
              ./images/desktop/desktop_gallery_3_2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/tab/tab_gallery_3_1x.jpg 1x,
              ./images/tab/tab_gallery_3_2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/mobile_gallery_3_1x.jpg 1x,
              ./images/mobile/mobile_gallery_3_2x.jpg 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="gallery__img"
            src="./images/desktop/desktop_gallery_3_1x.jpg"
            alt="three ice cream's on a stick"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
