<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__list">
      <div class="gallery__item">
        <div class="gallery__wrap">
          <picture class="bloack">
            <source
              srcset="
                ./images/desktop/desktop_gallery_1@1x-min.jpg 1x,
                ./images/desktop/desktop_gallery_1@1x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tab/tab_gallery_1@1x-min.jpg 1x,
                ./images/tab/tab_gallery_1@1x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/mobile/mobile_gallery_1@1x-min.jpg 1x,
                ./images/mobile/mobile_gallery_1@1x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <source
              srcset="
                ./images/mobile/mobile320_gallery_1@1x-min.jpg 1x,
                ./images/mobile/mobile320_gallery_1@1x-min.jpg 1x
              "
              media="(min-width:320px)"
            />
            <img
              src="./images/desktop/desktop_gallery_1@1x-min.jpg"
              alt="ice cream cones"
              class="gallery__img"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
