<!-- <section>
    <div class="container">
        <ul>
            <li>
                <picture>
                    <source srcset="/src/images/mobile/gallery_1_1x.jpg 1x,
                    /src/images/mobile/gallery_1_2x.jpg 2x"
                    media="(min-width:1200px)"/>
                    <source srcset="/src/images/mobile/gallery_1_1x.jpg 1x,
                    /src/images/mobile/gallery_1_2x.jpg 2x"
                    media="(min-width:760px)"/>
                     <source
                      srcset="/src/images/mobile/gallery_1_1x.jpg 1x,
                      /src/images/gallery_1_2x.jpg 2x
                      "
                      media="(min-width:1200px)"
                    />
                    <source
                      srcset="/src/images/mobile/gallery_1_1x.jpg 1x,
                      /src/images/mobile/gallery_1_2x.jpg 2x"
                      media="(min-width:760px)"
                    />
                    <source
                      srcset="/src/images/mobile/gallery_1_1x.jpg 1x,
                      /src/images/mobile/gallery_1_2x.jpg 2x"
                      media="(min-width:480px)"
                    />
                    <img
                      srcset="/src/images/mobile/gallery_1_1x.jpg 1x, /src/images/gallery_1_1x.jpg 2x"
                      src="/src/images/gallery_1_1x.jpg"
                      alt="Product Designer"
                      width="270"
                    />  

                   </picture>
            </li>
        </ul>
    </div>
</section>  -->


<section class="gallery">
    <div class="gallery__container container">
      <div class="gallery__wrapper">
        <picture class="mySlides fade">
          <source
            srcset="/src/images/mobile/gallery_1_1x.jpg 1x,
            /src/images/mobile/gallery_1_2x.jpg 2x
            "
          />
          <img
            class="gallery__img"
            src="/src/images/mobile/gallery_1_1x.jpg"
            alt="ice cream foto1"
          />
        </picture>
        <picture class="mySlides fade">
          <source
            srcset="
            /src/images/mobile/gallery_2_1x.jpg ,
            /src/images/mobile/gallery_2_2x.jpg  2x
            "
          />
          <img
            class="gallery__img"
            src="/src/images/mobile/gallery_2_1x.jpg"
            alt="ice cream foto2"
          />
        </picture>
        <picture class="mySlides fade">
          <source
            srcset="
            /src/images/mobile/gallery_3_1x.jpg 1x,
            /src/images/mobile/gallery_3_2x.jpg 2x
            "
          />
          <img
            class="gallery__img"
            src="/src/images/mobile/gallery_3_1x.jpg"
            alt="ice cream foto3"
          />
        </picture>
      </div>
    </div>
  </section>