<header>
  <div class="container container--position">
    <div class="logo">
      <a href="#" class="logo__link"
        ><img
          src="././images/mobile/mobile_heder_logo1x.png"
          alt="logo"
          class="logo__img"
        />
      </a>
    </div>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="home" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="how-its-made" class="navigation__link">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a href="our-products" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="contact" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="mob-tab-nav-menu-open">
      <svg width="32" height="32">
        <use href="././images/icon.svg#icon-mobile_menu"></use>
      </svg>
    </button>

    <button type="button" class="hero-button">Buy now</button>
  </div>
</header>
