<section class="hero">
  <div class="container hero__cont-position">
    <h1 class="hero__title" data-aos="fade-down-right">
      ice cream made with <span class="hero__title-passion">passion</span>
    </h1>
    <ul class="hero__list" id="menu-hero">
      <li class="hero__item">
        <a href="#products" class="hero__link hero--decoration-first-btn"
          >Products</a
        >
      </li>
      <li class="hero__item">
        <a href="#how-its-made" class="hero__link hero--decoration-sec-btn"
          >How it’s made?</a
        >
      </li>
    </ul>

    <div class="hero__descriptions-container">
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>

      <img
        class="hero__img-pointer"
        srcset="
          ././images/tab/tablet_desktop_hero_pointer1x.png 1x,
          ././images/tab/tablet_desktop_hero_pointer2x.png 2x
        "
        src="././images/tab/tablet_desktop_hero_pointer1x.png"
        alt="pointer"
      />
    </div>

    <div class="hero__num-coffes">
      <p>16</p>

      <p class="hero__num-coffes-2-part">cafes</p>
    </div>

    <div class="hero__food-trucks">
      <p>23</p>

      <p class="hero__food-trucks-2-part">food trucks</p>
    </div>

    <div class="hero__points">
      <picture>
        <source
          srcset="
            ././images/desktop/desktop_hero_points@1x.png 1x,
            ././images/desktop/desktop_hero_points@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ././images/tab/tablet_hero_points@1x.png 1x,
            ././images/tab/tablet_hero_points@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ././images/mobile/mobile(480)_hero_points@1x.png 1x,
            ././images/mobile/mobile(480)_hero_points@2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ././images/mobile/mobile_hero_points@1x.png 1x,
            ././images/mobile/mobile_hero_points@2x.png 2x
          "
          media="(min-width: 320px)"
        />

        <img
          srcset="
            ././images/mobile/mobile(480)_hero_points@1x.png 1x,
            ././images/mobile/mobile(480)_hero_points@2x.png 2x
          "
          src="././images/mobile/mobile(480)_hero_points@1x.png"
          alt="points"
        />
      </picture>
    </div>

    <div class="hero__ice">
      <picture>
        <source
          srcset="
            ././images/desktop/desktop_hero_ice@1x.png 1x,
            ././images/desktop/desktop_hero_ice@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ././images/tab/tablet_hero_ice@1x.png 1x,
            ././images/tab/tablet_hero_ice@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ././images/mobile/mobile(480)_hero_ice@1x.png 1x,
            ././images/mobile/mobile(480)_hero_ice@2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ././images/mobile/mobile_hero_ice@1x.png 1x,
            ././images/mobile/mobile_hero_ice@2x.png 2x
          "
          media="(max-width: 479px)"
        />

        <img
          srcset="
            ././images/mobile/mobile(480)_hero_ice@1x.png 1x,
            ././images/mobile/mobile(480)_hero_ice@2x.png 2x
          "
          src="././images/mobile/mobile(480)_hero_ice@1x.png"
          alt="logo"
        />
      </picture>
    </div>

    <div class="іce-cream-plate">
      <picture>
        <source
          srcset="
            ././images/desktop/desktop_hero_ice_cream@1x.png 1x,
            ././images/desktop/desktop_hero_ice_cream@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ././images/tab/tablet_hero_ice_cream@1x.png 1x,
            ././images/tab/tablet_hero_ice_cream@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <img
          srcset="
            ././images/tab/tablet_hero_ice_cream@1x.png 1x,
            ././images/tab/tablet_hero_ice_cream@2x.png 2x
          "
          src="././images/tab/tablet_hero_ice_cream@1x.png"
          alt="іce cream plate"
        />
      </picture>
    </div>
  </div>
</section>
