<section class="hero">
  <div class="container hero__cont-position">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="hero__list">
      <li class="hero__item"><a href="" class="hero__link">Products</a></li>
      <li class="hero__item">
        <a href="" class="hero__link">How it’s made?</a>
      </li>
    </ul>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>

    <div class="hero__num-coffes">
      <p >16</p>

      <p class="hero__num-coffes-2-prt">cafes</p>
    </div>

    <div class="hero__food-trucks">
      <p >23</p>

      <p class="hero__food-trucks-2-prrt">food trucks</p>
    </div>

    <div class="hero__ice">
      <img src=".//.//images/mobile/mobile_hero_ice@1x.png" alt="" />
    </div>
    <div class="hero__points">
      <img src="././images/mobile/mobile_hero_points@1x.png" alt="" />
    </div>
  </div>
</section>
