<!-- Modal Ingredients Ice Cream -->
<div class="modal-ingredients modal" data-modal="2">
  <!-- Modal Window Tittle -->
  <h3 class="modal-ingredients__title">Chololate icecream</h3>
  <div class="modal-ingredients__thumb">
    <img
      class="modal-ingredients__img"
      srcset="
        /src/images/mobile/mobile_about_product@1x.png 1x,
        /src/images/mobile/mobile_about_product@2x.png 2x
      "
      src="/src/images/mobile/mobile_about_product@1x.png"
      width="132"
      height="132"
      alt="Chololate 
icecream"
    />
  </div>
  <ul class="modal-ingredients__list">
    <li class="modal-ingredients__item">
      kcal<span class="modal-ingredients__span">320</span>
    </li>
    <li class="modal-ingredients__item">
      Prote...<span class="modal-ingredients__span">4g</span>
    </li>
    <li class="modal-ingredients__item">
      Fats<span class="modal-ingredients__span">8,2</span>
    </li>
    <li class="modal-ingredients__item">
      Carbs<span class="modal-ingredients__span">40,4g</span>
    </li>
  </ul>
  <p class="modal-ingredients__paragraph">Ingredients</p>
  <ul class="modal-ingredients__components">
    <li class="modal-ingredients__component">
      Milk<span class="modal-ingredients__component--span">100ml</span>
    </li>
    <li class="modal-ingredients__component">
      Belgian chocolate<span class="modal-ingredients__component--span"
        >20g</span
      >
    </li>
    <li class="modal-ingredients__component">
      Cream<span class="modal-ingredients__component--span">150ml</span>
    </li>
    <li class="modal-ingredients__component">
      Cocoa powder<span class="modal-ingredients__component--span">30g</span>
    </li>
    <li class="modal-ingredients__component">
      Sugar<span class="modal-ingredients__component--span">40g</span>
    </li>
    <li class="modal-ingredients__component">
      Vanilla sugar<span class="modal-ingredients__component--span">10g</span>
    </li>
  </ul>
  <form class="modal-ingredients__form" name="modal-form">
    <div class="modal-ingredients__field-group">
      <input
        class="modal-ingredients__field"
        type="text"
        name="username"
        pattern="[a-zA-Z\u0400-\u04ff\s]{3,30}"
        title="Please type only letters, e.g. Boris Johnson"
        required
        id="user-name1"
        placeholder="Name"
        autocomplete="off"
      />
      <input
        class="modal-ingredients__field"
        type="tel"
        name="user-tel"
        pattern="[+\0-9]{10,}"
        title="Please use international format, e.g. +61XXXXXXXXXXXX, min 10 digits"
        required
        id="user-tel1"
        placeholder="Phone"
        autocomplete="off"
      />
      <textarea
        class="modal-ingredients__comment"
        name="user-message"
        id="user-message1"
        rows="3"
        placeholder="Comment"
      ></textarea>
    </div>
    <!-- Form submit button -->
    <button class="modal-ingredients__btn button" type="submit">Submit</button>
  </form>
  <button
    class="close-btn js-modal-close"
    type="button"
    aria-label="Close modal window"
    aria-controls="modal-ingredients1"
  >
    <svg class="close-button__icon" width="24" height="24">
      <use href="/src/images/icon.svg#icon-close"></use>
    </svg>
  </button>
</div>

<!------------------------------------------Modal #2  ---------------------------------->
<!-- Modal Ingredients Ice Coffee -->
<div class="modal-ingredients modal" data-modal="3">
  <!-- Modal Window Tittle -->
  <h3 class="modal-ingredients__title">ice coffee</h3>
  <div class="modal-ingredients__thumb2">
    <img
      class="modal-ingredients__img"
      srcset="
        /src/images/mobile/mobile_buy_now_2@1x.png 1x,
        /src/images/mobile/mobile_buy_now_2@2x.png 2x
      "
      src="/src/images/mobile/mobile_buy_now_2@1x.png"
      width="132"
      height="132"
      alt="Chololate 
icecream"
    />
  </div>
  <ul class="modal-ingredients__list">
    <li class="modal-ingredients__item2">
      kcal<span class="modal-ingredients__span2">150</span>
    </li>
    <li class="modal-ingredients__item2">
      Prote...<span class="modal-ingredients__span2">1.5g</span>
    </li>
    <li class="modal-ingredients__item2">
      Fats<span class="modal-ingredients__span2">3.5g</span>
    </li>
    <li class="modal-ingredients__item2">
      Carbs<span class="modal-ingredients__span2">58g</span>
    </li>
  </ul>
  <p class="modal-ingredients__paragraph">Ingredients</p>
  <ul class="modal-ingredients__components">
    <li class="modal-ingredients__component">
      Milk<span class="modal-ingredients__component--span">200ml</span>
    </li>
    <li class="modal-ingredients__component">
      Belgian chocolate<span class="modal-ingredients__component--span"
        >30g</span
      >
    </li>
    <li class="modal-ingredients__component">
      Cream<span class="modal-ingredients__component--span">170ml</span>
    </li>
    <li class="modal-ingredients__component">
      Cocoa powder<span class="modal-ingredients__component--span">20g</span>
    </li>
    <li class="modal-ingredients__component">
      Sugar<span class="modal-ingredients__component--span">50g</span>
    </li>
    <li class="modal-ingredients__component">
      Vanilla sugar<span class="modal-ingredients__component--span">13g</span>
    </li>
  </ul>
  <form class="modal-ingredients__form" name="modal-form">
    <div class="modal-ingredients__field-group">
      <input
        class="modal-ingredients__field"
        type="text"
        name="username"
        pattern="[a-zA-Z\u0400-\u04ff\s]{3,30}"
        title="Please type only letters, e.g. Boris Johnson"
        required
        id="user-name1"
        placeholder="Name"
        autocomplete="off"
      />
      <input
        class="modal-ingredients__field"
        type="tel"
        name="user-tel"
        pattern="[+\0-9]{10,}"
        title="Please use international format, e.g. +61XXXXXXXXXXXX, min 10 digits"
        required
        id="user-tel1"
        placeholder="Phone"
        autocomplete="off"
      />
      <textarea
        class="modal-ingredients__comment"
        name="user-message"
        id="user-message1"
        rows="3"
        placeholder="Comment"
      ></textarea>
    </div>
    <!-- Form submit button -->
    <button class="modal-ingredients__btn button" type="submit">Submit</button>
  </form>
  <button
    class="close-btn js-modal-close"
    type="button"
    aria-label="Close modal window"
    aria-controls="modal-ingredients1"
  >
    <svg class="close-button__icon" width="24" height="24">
      <use href="/src/images/icon.svg#icon-close"></use>
    </svg>
  </button>
</div>

<!------------------------- Modal#3 ---------------------------->
<!-- Modal Ingredients milkshake -->
<div class="modal-ingredients modal" data-modal="10">
  <!-- Modal Window Tittle -->
  <h3 class="modal-ingredients__title">milkshake</h3>
  <div class="modal-ingredients__thumb3">
    <img
      class="modal-ingredients__img"
      srcset="
        /src/images/mobile/mobile_buy_now_3@1x.png 1x,
        /src/images/mobile/mobile_buy_now_3@2x.png 2x
      "
      src="/src/images/mobile/mobile_buy_now_3@1x.png"
      width="132"
      height="132"
      alt="Chololate 
icecream"
    />
  </div>
  <ul class="modal-ingredients__list">
    <li class="modal-ingredients__item3">
      kcal<span class="modal-ingredients__span3">175</span>
    </li>
    <li class="modal-ingredients__item3">
      Prote...<span class="modal-ingredients__span3">2.5g</span>
    </li>
    <li class="modal-ingredients__item3">
      Fats<span class="modal-ingredients__span3">4.5g</span>
    </li>
    <li class="modal-ingredients__item3">
      Carbs<span class="modal-ingredients__span3">67g</span>
    </li>
  </ul>
  <p class="modal-ingredients__paragraph">Ingredients</p>
  <ul class="modal-ingredients__components">
    <li class="modal-ingredients__component">
      Milk<span class="modal-ingredients__component--span">150ml</span>
    </li>
    <li class="modal-ingredients__component">
      Belgian chocolate<span class="modal-ingredients__component--span"
        >50g</span
      >
    </li>
    <li class="modal-ingredients__component">
      Cream<span class="modal-ingredients__component--span">190ml</span>
    </li>
    <li class="modal-ingredients__component">
      Cocoa powder<span class="modal-ingredients__component--span">40g</span>
    </li>
    <li class="modal-ingredients__component">
      Sugar<span class="modal-ingredients__component--span">40g</span>
    </li>
    <li class="modal-ingredients__component">
      Vanilla sugar<span class="modal-ingredients__component--span">17g</span>
    </li>
  </ul>
  <form class="modal-ingredients__form" name="modal-form">
    <div class="modal-ingredients__field-group">
      <input
        class="modal-ingredients__field"
        type="text"
        name="username"
        pattern="[a-zA-Z\u0400-\u04ff\s]{3,30}"
        title="Please type only letters, e.g. Boris Johnson"
        required
        id="user-name1"
        placeholder="Name"
        autocomplete="off"
      />
      <input
        class="modal-ingredients__field"
        type="tel"
        name="user-tel"
        pattern="[+\0-9]{10,}"
        title="Please use international format, e.g. +61XXXXXXXXXXXX, min 10 digits"
        required
        id="user-tel1"
        placeholder="Phone"
        autocomplete="off"
      />
      <textarea
        class="modal-ingredients__comment"
        name="user-message"
        id="user-message1"
        rows="3"
        placeholder="Comment"
      ></textarea>
    </div>
    <!-- Form submit button -->
    <button class="modal-ingredients__btn button" type="submit">Submit</button>
  </form>
  <button
    class="close-btn js-modal-close"
    type="button"
    aria-label="Close modal window"
    aria-controls="modal-ingredients1"
  >
    <svg class="close-button__icon" width="24" height="24">
      <use href="/src/images/icon.svg#icon-close"></use>
    </svg>
  </button>
</div>
