<div class="modal" data-modal="1">
   <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" 
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/>
  </svg>
  <h1 class="modal__title">
    Buy now
  </h1>

  <form action="">
    <ul class="checkbox__list">
      <li class="checkbox__item">
        <label>
          <input class="checkbox__input" type="checkbox">
          <h2 class="checkbox__title ice-cream__modal">
            ice-cream
          </h2>
        </label>                
      </li>

      <li class="checkbox__item">
        <label>
          <input class="checkbox__input" type="checkbox">
          <h2 class="checkbox__title ice-coffee_modal">
            ice coffee
          </h2>
        </label>                
      </li>

      <li class="checkbox__item">
        <label>
          <input class="checkbox__input" type="checkbox">
          <h2 class="checkbox__title milkshake_modal">
            milkshake
          </h2>
        </label>                
      </li>
    </ul>

    <ul class="form__list">
      <li class="form__item">
        <input type="text" class="modal-input" placeholder="Name" name="name" required">
      </li>
      <li class="form__item">
        <input type="tel" class="modal-input" placeholder="Phone" name="tel" required>
      </li>
      <li class="form__item">
        <textarea class="modal-input comment-field" name="comment" id="comment" cols="20" rows="3" 
          placeholder="Comment"></textarea>
      </li>
    </ul>

    <button class="submit-btn" type="button">
      Submit
    </button>

  </form>
</div>