<div class="modal-production modal" data-modal="5">
  <button type="button" class="modal-cross js-modal-close">
    <svg class="modal-cross__icon">
      <use href="./images/icon.svg#icon-mobile-cross-modl"></use>
    </svg>
  </button>
  <h2 class="modal-production__title">How it’s made?</h2>
  <iframe
    class="modal-production__video"
    width="448"
    height="205"
    src="https://www.youtube.com/embed/7gJIyHnD710"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <p class="modal-production__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
