#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  @include tab {
    width: 50px;
    height: 50px;
  }
}
#button::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/free-icon-up-arrow-6941680.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include tab {
    width: 50px;
    height: 50px;
  }
}
#button.show {
  opacity: 1;
  visibility: visible;
}
