.mobile-menu {
  transform: translateY(-100%);
  position: absolute;
  visibility: hidden;
  pointer-events: none;

  transition: visibility 250ms linear, transform 250ms linear;

  padding: 52px 20px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: none;
  }

  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: $main-bg-color;

  z-index: 9;

  @include smart {
    padding: 40px 20px 0px 20px;
    top: 59px;
  }

  @include tab {
    padding: 76px 32px 0px 32px;
    top: 64px;
  }
}

.mobile-menu.is-open {
  transform: translateY(0);
  visibility: visible;
  pointer-events: initial;
  transition: visibility 250ms linear, transform 250ms linear;
}

.mobile-menu__list {
  margin-bottom: 110px;
  text-align: center;
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @include smart {
    margin-bottom: 114px;
  }
}

.mobile-menu__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: $main-text-color;

  @include tab {
    font-size: 48px;
    line-height: 59px;
  }
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #131313;
}

.mobile-menu__button {
  line-height: 1.21;

  color: #000000;

  background: $accent-color;
  padding: 12px 36px;
  width: 152px;

  @extend %btn;

  @include tab {
    display: none;
  }

  &:hover {
    background-color: $btn-bg-hover;
  }

  &:focus {
    background-color: $btn-bg-hover;
    color: #ffffff;
  }

  &:disabled {
    background-color: $btn-bg-disabled;
  }
}

.mobile-menu-button.is-open ~ .hero-button {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.mobile-menu-button.is-open {
  margin-right: 0px;
}
