.mobile-menu {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  padding: 20px 20px 0px 20px;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: $main-bg-color;

  z-index: 99999;

  transform: translateY(-100%);
  transition: visibility 250ms linear, transform 250ms linear;

  @include tab {
    padding: 20px 32px 0px 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateY(0);
  // visibility: visible;
  // pointer-events: initial;
  transition: visibility $animation-speed-hover $animation-cubic-bezier,
    transform $animation-speed-hover $animation-cubic-bezier;
}

.mobile-menu__position-heder {
  display: flex;
  align-items: center;

  // width: 100%;
}

.mobile-menu__position-heder .logo {
  margin-right: auto;
}

.mobile-menu__navigation {
  margin-top: 51px;
  margin-bottom: 110px;

  @include smart {
    margin-top: 40px;
    margin-bottom: 114px;
  }

  @include tab {
    margin-top: 76px;
  }
}

.mobile-menu__list {
  text-align: center;
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: $main-text-color;

  @include tab {
    font-size: 48px;
    line-height: 59px;
  }
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #131313;
}

.mobile-menu__button {
  @extend %btn;

  padding: 12px 36px;
  width: 152px;
  line-height: 1.21;

  color: #000000;
  background: $accent-color;

  @include tab {
    display: none;
  }

  &:hover {
    background-color: $btn-bg-hover;
  }

  &:focus {
    background-color: $btn-bg-hover;
    color: #ffffff;
  }

  &:disabled {
    background-color: $btn-bg-disabled;
  }
}
