
ul {
   list-style: none; 
   margin: 0;
}

// .column-reverse {
// @media screen and (min-width: 480px) {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column-reverse;
// }

// @media screen and (max-width: 480px) {
//     flex-direction: column;
// }
// }

.about {
    &_label {
        font-family: 'Montserrat';
        font-style: normal; 
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        
        text-align: center;
        text-transform: uppercase;
 
        color: #FCFCFC;

        margin-top: 61px;
        margin-left: auto;
        margin-right: auto;  
        margin-bottom: 12px;  
        @media screen and (min-width: 768px) {
            letter-spacing: 0.04em;
            max-width: 276px;
            font-size: 22px;
            font-weight: 800;
            line-height: 27px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 30px;
            line-height: 37px;
            max-width: 376px;
        } 
       
    }
    &_title {
font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

@media screen and (min-width: 768px) {
font-size: 34px;
line-height: 43px;
letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
   
    font-size: 36px;
line-height: 45px;
text-align: center;

}
margin-bottom: 32px;

color: #FCFCFC;
 
    }

    &-tub_flex {
   @media screen and (min-width: 768px) {
    align-items: center;
    gap: 38px;
    display: flex;
   }
    }

  
    
  &_img_background { 
 width: 280px;
margin: 31px 0;
 margin-left: auto;
 margin-right: auto;


 @media screen and (min-width: 480px) {
    min-width: 279px;
 }

 @media screen and (min-width: 768px) {
    min-width: 230px;
 }

 @media screen and (min-width: 1200px) {
    min-width: 260px;
  
 }

 &_picture {
    transform: translateY(7%);
 }

background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
border-radius: 140px;
    }
   &_img {
    position: relative;
    top: 15px;

    }


   &_text {
margin-left: auto;
margin-right: auto;
font-weight: 400;
font-size: 12px;
line-height: 176%;


text-align: center;
align-items: center;

@media screen and (min-width: 768px) {
    text-align: left;
    
}

@media screen and (min-width: 1200px) {
     font-size: 16px;
     width: 463px;
}


letter-spacing: 0.04em;


color: #FCFCFC;

   }
  
    &_item:not(:last-child) {
        margin-bottom: 4px;
    }
   

}

.button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 34px;
  
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
  
    border-radius: 10px;
    border: none;

    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
  
    
    background-color: #F8D24E ;
    cursor: pointer;

    &:hover {
        background-color: #0A8817;
   }
   &:focus {
    color:  #FCFCFC;
    background-color:  #0A8817;
}

  &_img {
    width: 10px;
    height: 10px;
    text-align: center;

  }
}
 
.button:focus .button_img {
    fill: #FFFFFF;
}