.advantages {

&_list {
    padding: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        
        @media screen and (min-width: 1200px) {
            max-width: 1168px;
            gap: 32px;
        }
    }
}
&_items {
    max-width: 230px;
    
    @media screen and (min-width: 768px) {
        max-width: 152px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 368px;
    }
}

     
&-background_svg {
    position: relative;
   margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
background: #F8D24E;
border-radius: 25px;
 }  
 
 &_svg {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 36px;
    height: 36.01px;
 }

 &_numbers {
// justify-content: space-around;
margin-left: auto;
margin-right: auto;

font-weight: 700;
font-size: 36px;
line-height: 44px;

letter-spacing: 0.04em;
text-transform: uppercase;

color: #FCFCFC;
 }

 &_text {
    
    margin-left: auto;
    margin-right: auto;
margin-bottom: 28px;
font-weight: 700;
font-size: 12px;
line-height: 170%;

text-align: center;

color: #FCFCFC;
 }
}
.span {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}