.contacts {
  font-weight: 500;
  padding-bottom: 60px;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
  @include tab {
    font-size: 14px;
    padding-bottom: 40px;
  }
  @include desktop {
    font-size: 16px;
    padding-bottom: 120px;
  }
}
.contacts__wrap {
  margin-top: -353px;
  @include smart {
    margin-top: -349px;
  }
  @include tab {
    margin-top: -299px;
  }
  @include desktop {
    margin-top: -128px;
  }
}

.contacts__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
  @media screen and (max-width: 479px) {
    margin-bottom: 20px;
  }

  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin-bottom: 40px;
  }
  @include desktop {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts__card {
  padding-top: 40px;

  background-color: $main-text-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 32px;
    padding-right: 36px;
    padding-bottom: 24px;
  }

  @include tab {
    flex-basis: calc((100% - 32px) / 3);
    padding-left: 24px;
    padding-right: 27px;
    padding-bottom: 40px;
  }
  @include desktop {
    flex-basis: calc((100% - 64px) / 3);
    padding-left: 40px;
    padding-right: 40px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
  }
}

.contacts__card-category {
  display: inline-flex;

  letter-spacing: 0.04em;

  border-radius: 4px;
  color: $secondary-text-color;
  background-color: $accent-color;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    padding: 4px 22px;
    line-height: 1.17;
  }
  @include tab {
    margin-bottom: 32px;
    padding: 4px 13px;
    font-size: 16px;
    line-height: 1.4;
  }
  @include desktop {
    padding: 4px 14px 4px 14px;
  }
}

.contacts__card-pretitle {
  color: $secondary-text-color;
  letter-spacing: 0.04em;
  @media screen and (max-width: 767px) {
    line-height: 1.83;
    margin-bottom: 8px;
  }
  @include tab {
    line-height: 1.86;
    margin-bottom: 12px;
  }
  @include desktop {
    line-height: 1.88;
    margin-bottom: 8px;
  }
}
.contacts__link {
  color: #d6936d;
  line-height: 1.83;
  letter-spacing: 0.04em;
}
.contacts__map,
.contacts__workshorthour {
  border-bottom: 1px solid #e1e1e1;
  @media screen and (max-width: 767px) {
    padding-bottom: 24px;
  }
  @include tab {
    padding-bottom: 32px;
  }
}
.contacts__workday {
  color: #131313;
  line-height: 1.86;
  @media screen and (max-width: 767px) {
    margin-top: 24px;
  }
  @include tab {
    margin-top: 32px;
  }
}
.contacts__workshortday {
  color: $secondary-text-color;
  line-height: 1.86;
}

.contacts__workhour,
.contacts__workshorthour {
  line-height: 1.86;
  color: $btn-bg-disabled;
}

.contacts__workhour {
  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }
  @include desktop {
    margin-bottom: 12px;
  }
}

.contacts__workshorthour {
  border-bottom: 1px solid #e1e1e1;
}

.contakts__connection {
  @media screen and (max-width: 767px) {
    margin-top: 24px;
  }
  @include tab {
    margin-top: 32px;
  }
}
.contakts__connection-link {
  line-height: 1.6;
  color: $secondary-text-color;
}
.contakts__connection-items:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 6px;
  }
  @include tab {
    margin-bottom: 4px;
  }
}

// button

.contacts-button__list {
  @include tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.contacts-button__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.contacts__button {
  @extend %btn;

  gap: 4px;
  min-width: 196px;
  height: 42px;
  padding: 12px 40px;
  background: $accent-color;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.contacts__button--light {
  color: $secondary-text-color;
  &:hover {
    background-color: $btn-bg-hover;
    color: #000000;
  }
  &:focus {
    background-color: $btn-bg-hover;
    color: #ffffff;
  }
}

.contacts__button--dark {
  background-color: $main-bg-color;
  border: 2px solid $accent-color;
  color: #000000;
  &:hover {
    border-color: $btn-bg-hover;
  }
  &:focus {
    color: #ffffff;
  }
}

.contacts-button__icon {
  fill: currentColor;
  transition: fill $animation-speed-hover $animation-cubic-bezier;
}
