.footer__blocks {
  @include tab {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .footer__text {
    margin-bottom: 60px;
    max-width: 234px;
  }
}

.footer__text {
  @include tab {
    width: 50%;
    margin-bottom: 32px;
  }
}

.footer__title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: $main-text-color;
  @include tab {
    margin-bottom: 8px;
    max-width: 352px;
    font-size: 26px;
    line-height: 1.23;
    etter-spacing: 0.04em;
  }
  @include desktop {
    margin-bottom: 14px;
    max-width: 504px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
  }
}
.footer__subtitle {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.23;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  color: $main-text-color;
  @include tab {
    max-width: 352px;
    font-size: 48px;
  }
  @include desktop {
    max-width: 497px;
    font-weight: 700;
    font-size: 58px;
  }
}
.footer__contact-block {
  @include tab {
    width: 50%;
  }
}
.social__list {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  @include tab {
    padding-top: 61px;
    margin-bottom: 34px;
  }
  @include desktop {
    padding-top: 18px;
    margin-bottom: 40px;
  }
}

.social__item:not(:last-child) {
  margin-right: 20px;
  @include tab {
    margin-right: 30px;
  }
}

.social__icon {
  fill: #84a178;
  transition: $animation-speed-hover $animation-cubic-bezier;
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $main-text-color;
}
.footer__contact {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: $secondary-text-color;
  @include tab {
    margin-bottom: 60px;
    font-size: 14px;
  }
  @include desktop {
    font-size: 16px;
  }
}
.footer__contact-phone {
  color: #fcfcfc;
}
.footer__copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e1e1e1;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #7a7a7a;
  @include tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.86;
  }
  @include desktop {
    font-size: 12px;
  }
}
