.container--position {
  margin-top: 12px;

  @include smart {
    margin-top: 14px;
  }

  @include tab {
    margin-top: 19px;
  }
}

.mobile-navigation-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;

  @media screen and (min-width: 1199px) {
    margin-right: 308px;
  }
}

.logo__img {
  min-width: 40px;
  min-height: 37px;
}

.navigation {
  display: none;
  @include desktop {
    display: flex;
  }

  @media screen and (min-width: 1199px) {
    margin-right: 205px;
  }
}

.navigation__list {
  display: flex;
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 28px;
  }
}

.navigation__link {
  display: flex;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  color: $main-text-color;

  transition: color $animation-speed-hover $animation-cubic-bezier;
}

.navigation__link:hover,
.navigation__link:focus {
  color: $accent-color;
}

.hero-button {
  @extend %btn;

  width: 152px;
  height: 42px;

  background: $accent-color;

  transition: background-color $animation-speed-hover $animation-cubic-bezier,
    color $animation-speed-hover c$animation-cubic-bezier;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @include tab {
    display: flex;
  }

  &:hover {
    background-color: $btn-bg-hover;
  }

  &:focus {
    background-color: $btn-bg-hover;
    color: #ffffff;
  }

  &:disabled {
    background-color: $btn-bg-disabled;
  }
}

.hero-button__arrow {
  fill: currentColor;
  &:focus {
    color: #ffffff;
  }
}

.hero-button__buy {
  margin-right: 4px;
}

.mobile-menu-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  color: #ffffff;

  transition: color $animation-speed-hover $animation-cubic-bezier;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1199px) {
    display: none;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-menu__icon-cross {
  fill: currentColor;
  transition: transform $animation-speed-hover $animation-cubic-bezier;
  .mobile-menu-button:hover &,
  .mobile-menu-button:focus & {
    transform: rotate(180deg);
  }
}
.icon-menu {
  fill: currentColor;
}
