.hero {
  padding-top: 50px;

  @include smart {
    padding-top: 40px;
  }

  @include tab {
    padding-top: 14px;
  }

  @include desktop {
    padding-top: 45px;
  }
}

.hero__cont-position {
  position: relative;
  height: 403px;

  @include smart {
    height: 317px;
  }

  @include tab {
    height: 337px;
  }

  @include desktop {
    height: 535px;
  }
}

.hero__title {
  width: 247px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-text-color;

  @include desktop {
    width: 367px;
    font-size: 38px;
    line-height: 1.26;
  }
}

.hero__title-passion {
  font-size: 34px;
  font-weight: 500;

  @include desktop {
    font-size: 38px;
    line-height: 1.26;
  }
}

.hero__list {
  margin-top: 32px;
  display: flex;
  align-items: center;

  @include tab {
    margin-top: 24px;
  }

  @include desktop {
    margin-top: 28px;
  }
}

.hero__item {
  margin-right: 12px;

  @include desktop {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }
}

.hero__link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;

  @extend %btn;

  @include desktop {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero--decoration-first-btn {
  padding: 11px 26px;
  min-width: 108px;
  border: 2px solid $accent-color;
  border-radius: 10px;
  padding: 11px 26px;

  @include desktop {
    padding: 12px 34px;
  }

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero--decoration-first-btn:hover {
  border-color: $btn-bg-hover;
}

.hero--decoration-first-btn:focus {
  color: $main-text-color;
}

.hero--decoration-first-btn:disabled {
  border-color: $btn-bg-disabled;
}

.hero--decoration-sec-btn {
  text-decoration-line: underline;
  color: $accent-color;

  @include desktop {
    font-size: 14px;
    line-height: 1.21;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero--decoration-sec-btn:hover {
  color: $btn-bg-hover;
}

.hero--decoration-sec-btn:focus {
  color: $main-text-color;
}

.hero--decoration-sec-btn:disabled {
  color: $btn-bg-disabled;
}

.hero__descriptions-container {
  position: relative;
}

.hero__description {
  display: none;

  @include tab {
    display: flex;
    width: 139px;
    height: 85px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.41;

    color: $main-text-color;

    margin-top: 46px;
    margin-left: 184px;
  }

  @include desktop {
    margin-top: 100px;
    margin-left: 240px;

    width: 200px;

    font-size: 14px;
    line-height: 1.42;

    color: $main-text-color;
  }
}

.hero__img-pointer {
  display: none;

  @include tab {
    display: flex;
    position: absolute;
    bottom: -24px;
    left: 184px;
  }

  @include desktop {
    left: 241px;
  }
}

.hero__num-coffes,
.hero__food-trucks {
  position: absolute;
  display: none;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    letter-spacing: 0.04em;
    // text-transform: uppercase;

    color: $secondary-text-color;
  }

  @include desktop {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.22;
  }
}

.hero__num-coffes {
  right: 32px;
  top: 14px;

  @include desktop {
    right: 16px;
    top: 8px;
  }
}

.hero__food-trucks {
  right: 32px;
  top: 82px;

  @include desktop {
    right: 16px;
    top: 101px;
  }
}

.hero__num-coffes-2-part,
.hero__food-trucks-2-part {
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  text-align: right;

  color: $main-text-color;

  @include desktop {
    font-size: 14px;
    line-height: 1.21;
  }
}

.hero__ice {
  position: absolute;
  bottom: 0;
  right: 60px;

  @include smart {
    right: 20px;
  }

  @include tab {
    right: 92px;
  }

  @include desktop {
    right: 94px;
  }
}

.hero__points {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.іce-cream-plate {
  display: none;
  @include tab {
    display: flex;

    position: absolute;
    bottom: 5px;
    left: 32px;
  }

  @include desktop {
    position: absolute;
    bottom: 65px;
    left: 16px;
  }
}
