.products {
  padding: 60px 0;
  background-image: url('../images/mobile/bg_mobile_1x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;

  @include retina {
    background-image: url('../images/mobile/bg_mobile_2x.jpg');
  }
  @include tab {
    background-image: url('../images/tab/bg_tablet_1x.jpg');
    @include retina {
      background-image: url('../images/tab/bg_tablet_2x.jpg');
    }
  }
  @include desktop {
    background-image: url('../images/desktop/bg_desktop_1x.jpg');
    @include retina {
      background-image: url('../images/desktop/bg_desktop_2x.jpg');
    }
  }
}

.products__label {
  display: block;

  margin-bottom: 12px;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;

  @include tab {
    font-size: 22px;
    line-height: 1.22;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.23;
  }
}

.products__title {
  margin-bottom: 40px;

  font-family: 'Seymour One';
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  @include tab {
    font-size: 34px;
    margin-bottom: 80px;
  }

  @include desktop {
    font-size: 36px;
    line-height: 1.25;

    margin-bottom: 120px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;

  @include tab {
    gap: 16px;
  }

  @include desktop {
    gap: 30px;
  }
}

.products__item {
  display: flex;
  width: 280px;
  transition: transform $animation-speed-hover $animation-cubic-bezier;

  @include smart {
    width: 250px;
  }

  @include tab {
    flex-basis: calc((100% - 32px) / 3);
  }

  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
  }
  &:hover {
    transform: scale(1.1);
  }
}

.products__card {
  display: flex;
  padding-top: 108px;
  @include desktop {
    padding-top: 193px;
  }
}

.products__discript {
  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 24px;
  padding: 123px 40px 16px;

  @include smart {
    padding: 123px 25px 16px;
  }

  @include desktop {
    padding: 165px 64px 60px;
  }

  &::before {
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
    width: 200px;
    height: 211px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}

.ice-cream {
  background: #aec6a5;

  &::before {
    background-color: rgba(156, 190, 143, 0.7);
    background-image: url('../images/mobile/mobile_products_1@1x.png');
    @include retina {
      background-image: url('../images/mobile/mobile_products_1@2x.png');
    }
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    @include tab {
      background-image: url('../images/tab/tab_products_1@1x.png');
      @include retina {
        background-image: url('../images/tab/tab_products_1@2x.png');
      }
    }

    @include desktop {
      background-image: url('../images/desktop/desktop_products_1@1x.png');
      @include retina {
        background-image: url('../images/desktop/desktop_products_1@2x.png');
      }
      width: 302px;
      height: 318px;
      translate: -50% -60%;
    }
  }
}

.ice-coffee {
  background: #efd478;

  &::before {
    background-color: #efd478;
    background-image: url('../images/mobile/mobile_products_2@1x.png');
    @include retina {
      background-image: url('../images/mobile/mobile_products_2@2x.png');
    }
    box-shadow: 0px 5.34219px 20.0332px rgba(153, 114, 23, 0.25);

    @include tab {
      background-image: url('../images/tab/tab_products_2@1x.png');
      @include retina {
        background-image: url('../images/tab/tab_products_2@2x.png');
      }
    }
    @include desktop {
      background-image: url('../images/desktop/desktop_products_2@1x.png');
      @include retina {
        background-image: url('../images/desktop/desktop_products_2@2x.png');
      }
      width: 302px;
      height: 318px;
      translate: -50% -60%;
    }
  }
}

.milkshakes {
  background: #d6936d;

  &::before {
    background-color: #d6936d;
    background-image: url('../images/mobile/mobile_products_3@1x.png');
    @include retina {
      background-image: url('../images/mobile/mobile_products_3@2x.png');
    }

    box-shadow: 0px 5.34219px 20.0332px rgba(0, 0, 0, 0.25);

    @include desktop {
      background-image: url('../images/desktop/desktop_products_3@1x.png');
      @include retina {
        background-image: url('../images/desktop/desktop_products_3@2x.png');
      }
      width: 302px;
      height: 318px;
      translate: -50% -60%;
    }
  }
}

.products__discript-title {
  margin-bottom: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-text-color;

  @include tab {
    font-size: 22px;
    line-height: 1.23;
  }

  @include desktop {
    margin-bottom: 66px;

    font-size: 30px;
    line-height: 1.22;
  }
}

.products__discript-text {
  margin-bottom: 100px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: $secondary-text-color;

  @include desktop {
    font-size: 16px;
  }
}

.products__discript-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: transparent;
  transition: color $animation-speed-modal $animation-cubic-bezier;
}
.products__discript-icon {
  fill: currentColor;
  transition: transform $animation-speed-modal $animation-cubic-bezier;
  .products__discript-btn:hover &,
  .products__discript-btn:focus & {
    transform: rotate(-90deg);
  }
}
